* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Dosis", sans-serif;
}

:root {
  --danger-rotation: 180deg;
}

body {
  overflow: hidden;
}

/********************/
/* INPUT ACCESS CENTER */
/********************/

header {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin-top: -1.25em;
}

header input[type="text"] {
  padding: 0.8em;
  margin: 1em;
  background-color: var(--background-color);
  width: 40%;
  border: none;
  color: white;
  border-radius: 1em;
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;
}

header input[type="text"]::placeholder {
  color: white;
  text-align: center;
}

header input[type="text"]:focus {
  outline: none;
}

header input[type="text"]:hover {
  cursor: pointer;
}

/********************/
/* MAIN */
/********************/

main {
  background-color: var(--background-color);
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-around;

  height: 100vh;
}

/********************/
/* DISPLAY */
/********************/

div:first-of-type {
  width: 30em;
  height: 15em;
  border-radius: 2em;
  background-color: var(--background-color);
  box-shadow: 0 5px 0 var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

div:first-of-type div {
  width: 25em;
  height: 12em;
  background-color: black;
  box-shadow: none;
  overflow: hidden;
}

main div:first-of-type div > p {
  transition: 1s;
}

/* Golfjes */
input[type="checkbox"] {
  width: 0;
}

input[id="lever-1"]:checked ~ main div:first-of-type div > p {
  opacity: 1;
  transition: 3s;
}

main div:first-of-type div > p {
  text-decoration: underline wavy #2f8772;
  text-decoration-skip-ink: none;
  font-size: 4.9em;
  color: transparent;
  /* Dan ziet de gebruiker niet dat het een tekst is of per ongeluk selecteert */
  user-select: none;
  animation: wavey 0.6s linear infinite;
  opacity: 0;
  align-self: normal;
}

@keyframes wavey {
  0% {
    transform: translateX(-7px);
  }

  100% {
    transform: translateX(-86px);
  }
}

/********************/
/* SONAR */
/********************/

main > div:nth-of-type(2) {
  background: repeating-radial-gradient(
    circle,
    #000000,
    #000000 24px,
    var(--repeating-radial-gradient) 0,
    var(--repeating-radial-gradient) 30px
  );
  /* background-size: 2px 50%, 100% 2px, 100% 100%;
  background-repeat: no-repeat; */
  width: 15em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 6px var(--box-shadow);
  margin: 2em 4em;
  position: relative;
}

main > div:nth-of-type(2)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    transparent 270deg,
    var(--repeating-radial-gradient)
  );
  border-radius: inherit;
  animation: sonar 5s infinite linear;
}

@keyframes sonar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/********************/
/* HENDEL */
/********************/

/* Hendel achtergrond */
label[for="lever-1"] {
  margin: 4em 2em;
  background-color: var(--background-color);
  border: 0.4em solid var(--border-color);
  box-shadow: 0 6px var(--box-shadow);
  border-radius: 1em;
  height: 10em;
  width: 4em;

  display: flex;
  align-items: center;
  justify-content: center;

  transform-style: preserve-3d;
  perspective: 20em;

  cursor: pointer;
}

/* Bolletje */
label[for="lever-1"]::after {
  content: "";
  position: absolute;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: grey;
  box-shadow: 0 2px darkgrey;
  display: block;
  transform: rotateX(90deg) translatez(2.9em) rotateX(-90deg);
}

input[id="lever-1"]:checked ~ main label[for="lever-1"]::after {
  animation: bolletje 2s ease-in-out forwards;
}

@keyframes bolletje {
  0% {
    transform: rotateX(90deg) translatez(2.9em) rotateX(-90deg);
  }
  100% {
    transform: rotateX(-90deg) translatez(2.9em) rotateX(90deg);
  }
}

/* Steeltje */
label[for="lever-1"]::before {
  content: "";
  position: absolute;
  bottom: calc(50% + 1em);
  display: block;
  height: 1.9em;
  width: 0.7em;
  border-radius: 0 0 20% 20%;
  background-color: var(--background-color);

  transform-origin: center calc(100% + 1em);
}

input[id="lever-1"]:checked ~ main label[for="lever-1"]::before {
  animation: steeltje 2s ease-in-out forwards;
}

@keyframes steeltje {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

/********************/
/* DANGER METER */
/********************/

/* Danger meter */
main > div:nth-of-type(3) {
  position: relative;
  width: 20em;
  aspect-ratio: 2/1;
  margin: 0 3em 2em 3em;

  background-image: radial-gradient(
    farthest-side circle at center bottom,
    #f000 50%,
    var(--background-image-color) 50%
  );

  border-radius: 50% / 100% 100% 0 0;

  /* Overflow:hidden zodat de vulling niet overlapt */
  overflow: hidden;
}

main > div:nth-of-type(3)::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;

  background-image: radial-gradient(
    farthest-side circle at center bottom,
    #fff0 50%,
    #bf1b1b 50%
  );

  border-radius: 50% / 100% 100% 0 0;

  transform: rotate(var(--danger-rotation));
  transform-origin: bottom;

  transition: 2s;
}

main > div:nth-of-type(3):hover::after {
  --danger-rotation: 360deg;
}

/********************/
/* LASER */
/********************/

main > div:nth-of-type(4) {
  width: 2em;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
  background-color: var(--background-color);
  transform: rotate(187deg);
  transform-origin: center;

  display: flex;
  align-items: center;
  margin: 0 -10em;
}

input[id="oranje-knop"]:checked ~ main > div:nth-of-type(4) {
  animation: shadow 1s forwards;
}

@keyframes shadow {
  from {
    background-color: var(--background-color);
    box-shadow: inset 0 0 var(--box-shadow);
  }
  to {
    background-color: var(--background-color);
    box-shadow: inset -9px 0px var(--box-shadow);
  }
}

main > div:nth-of-type(4)::before {
  content: "";
  height: 0.4em;
  width: 0em;
  position: absolute;
  border-radius: 1em;
  background: linear-gradient(#bf1b1b 30%, white, #bf1b1b);
  transition: 0.2s;
}

input[id="oranje-knop"]:checked ~ main > div:nth-of-type(4)::before {
  width: 70em;
  transition: 1s;
  transition-delay: 0.7s;
}

/********************/
/* ORANJE KNOP */
/********************/

label[for="oranje-knop"] {
  background-color: var(--background-color);
  padding: 3em;
  border-radius: 50%;
  border: none;
  box-shadow: 0 12px 0 var(--box-shadow-color);
  cursor: pointer;
  /* relative zodat die states goed werken */
  position: relative;
}

label[for="oranje-knop"]:hover {
  box-shadow: 0 0.9em 0 var(--box-shadow-color);
  top: -2px;
}

label[for="oranje-knop"]:active {
  box-shadow: none;
  top: 12px;
}

/********************/
/* SLIDER */
/********************/

input[type="range"] {
  appearance: none;
  background-color: #694c41;
  padding: 1em;
  width: 15em;
  border: 1em solid #2f8772;
  border-radius: 1em;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #bf1b1b;
  background-color: #bf1b1b;
  box-shadow: 0 2px #a61717;
  margin-top: 1em;
  height: 1em;
  width: 1em;
}

/* Licht en donker thema */
@media (prefers-color-scheme: light) {
  header {
    --background-color: #cfc8bc;
  }
  header input[type="text"],
  div:first-of-type {
    --background-color: #736b1e;
  }
  main,
  main > div:nth-of-type(4) {
    --background-color: #d9d2c6;
    --box-shadow: #d8cebc;
  }
  div:first-of-type {
    --box-shadow: #595317;
  }
  label[for="lever-1"] {
    --box-shadow: #266e5d;
  }
  label[for="lever-1"]::before {
    --background-color: lightblue;
  }
  button,
  label {
    --background-color: #ee5c20;
    --box-shadow-color: #d4501c;
  }
  label[for="lever-1"] {
    --background-color: #694c41;
    --border-color: #2f8772;
  }
  main > div:nth-of-type(2),
  main > div:nth-of-type(2)::after {
    --repeating-radial-gradient: #2f8772;
    --box-shadow: #266e5d;
  }
  main > div:nth-of-type(3) {
    --background-image-color: grey;
  }
}

@media (prefers-color-scheme: dark) {
  header,
  label[for="lever-1"]::before {
    --background-color: #2a3036;
  }
  header input[type="text"],
  div:first-of-type {
    --background-color: #16191c;
  }
  main,
  main > div:nth-of-type(4) {
    --background-color: #3f4850;
    --box-shadow: #2a3036;
  }
  div:first-of-type,
  label[for="lever-1"],
  label[for="lever-1"]::before {
    --box-shadow: black;
  }
  button,
  label {
    --background-color: #110f6f;
    --box-shadow-color: #0d0c57;
  }
  label[for="lever-1"] {
    --background-color: #3f4850;
    --border-color: #2a3036;
  }
  main > div:nth-of-type(2),
  main > div:nth-of-type(2)::after {
    --repeating-radial-gradient: #3f4850;
  }
  main > div:nth-of-type(3) {
    --background-image-color: #16191c;
  }
}
