* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Dosis", sans-serif;
}

body {
  background-color: #d9d2c6;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* De display */
div:first-of-type {
  width: 30em;
  height: 15em;
  border-radius: 2em;
  background-color: var(--background-color);
  box-shadow: 0 5px 0 #595317;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

div:first-of-type div {
  width: 25em;
  height: 12em;
  background-color: black;
  box-shadow: none;
  overflow: hidden;
}

/* Golfjes */
input[type="checkbox"] {
  /* Opacity naar 0 zodat je nog wel met tab er doorheen kan. */
  opacity: 0;
  width: 0;
}

input[type="checkbox"]:checked ~ div:first-of-type div > p {
  visibility: visible;
}

div:first-of-type div > p {
  text-decoration: underline wavy #2f8772;
  text-decoration-skip-ink: none;
  font-size: 4.9em;
  color: transparent;
  /* Dan ziet de gebruiker niet dat het een tekst is of per ongeluk selecteert */
  user-select: none;
  animation: wavey 0.6s linear infinite;
  visibility: hidden;
  align-self: normal;
}

@keyframes wavey {
  0% {
    transform: translateX(-7px);
  }

  100% {
    transform: translateX(-86px);
  }
}

/* Oranje knop */
label {
  background-color: var(--background-color);
  padding: 3em;
  border-radius: 50%;
  border: none;
  box-shadow: 0 12px 0 var(--box-shadow-color);
  cursor: pointer;
  position: relative;
}

label:hover {
  box-shadow: 0 0.9em 0 var(--box-shadow-color);
  top: -2px;
}

label:active {
  box-shadow: none;
  top: 12px;
}

/* Sonar */
body > div:nth-of-type(2) {
  background: repeating-radial-gradient(
    circle,
    #000000,
    #000000 24px,
    #2f8772 0,
    #2f8772 30px
  );
  /* background-size: 2px 50%, 100% 2px, 100% 100%;
  background-repeat: no-repeat; */
  width: 15em;
  height: 15em;
  border-radius: 50%;
  box-shadow: 0 6px #266e5d;
  margin: 0 1em;
  position: relative;
}

body > div:nth-of-type(2)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(transparent 270deg, #2f8772);
  border-radius: inherit;
  animation: sonar 5s infinite linear;
}

@keyframes sonar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Range slider */
input[type="range"] {
  appearance: none;
  background-color: #694c41;
  padding: 1em;
  width: 15em;
  border: 1em solid #2f8772;
  border-radius: 1em;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #bf1b1b;
  background-color: #bf1b1b;
  box-shadow: 0 2px #a61717;
  margin-top: 1em;
  height: 1em;
  width: 1em;
}

/* Licht en donker thema */
@media (prefers-color-scheme: light) {
  div:first-of-type {
    --background-color: #736b1e;
  }
  button,
  label {
    --background-color: #ee5c20;
    --box-shadow-color: #d4501c;
  }
}

@media (prefers-color-scheme: dark) {
  div:first-of-type {
  }
  button,
  label {
    --background-color: #110f6f;
    --box-shadow-color: #0d0c57;
  }
}
